body{
    background: url(4.png) no-repeat;
}
*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
position:absolute;
top:400px;left:1180px;
}


header{
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    

}
ul li a{
     text-decoration:none ;
     color:blueviolet;
     padding: 5px 20px;
     border: 2px salid blueviolet;
     transition: 0,6 ease;
     
}
ul li a:hover{
      background-color: burlywood;
      color: cadetblue;
}
div{
    font-size: 190%;
}

#cap{
    font-size:3.5rem;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: -100px; left:100px;
    color: #0e45ac
}
#tab {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    table-layout: auto;
    border: medium solid #061f4e;
    border-collapse: collapse;
    width: 5%;
    position: relative;
    top: -1330px; left:1220px;

}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
    font-size: 1.5rem;
    color: #031330
    background-color rgb(235, 235, 235);
}
td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}

.heman {
    font: 0.4rem molot;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px #000;
}

.skeletor {
    font: 0.7rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
}
    th {
    font-family: monospace;
    font-size: 2.5rem;
    border: thin solid #021842;
    width: 50%;
    padding: 5px;
    background-color: rgb(181, 208, 243);
    background-image: url(sky.jpg);
   
    }
    td {
    font-family: sans-serif;
    font-size: 2.5rem;
    border: thin solid #b1c6ee;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    }
  #cap {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3.5rem; 
    }
    #cap1{
        font-size: 3.5rem ;
        margin: 0;
        padding: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: absolute;
    top: -120px; left: 100px;
    color: #0e45ac
    }
    #tab1{
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        position: absolute;
        top: 790px; left:130px;

    }
    
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 7px 5px;
        font-size: 1.5rem;
        color: #031330
    }
    
    th {
        background-color: rgb(235, 235, 235);
    }
    
    td {
        text-align: center;
    }
    
    tr:nth-child(even) td {
        background-color: rgb(250, 250, 250);
    }
    
    tr:nth-child(odd) td {
        background-color: rgb(240, 240, 240);
    }
    
    .heman {
        font: 1.4rem molot;
        text-shadow: 1px 1px 1px #fff, 2px 2px 1px #000;
    }
    
    .skeletor {
        font: 1.7rem rapscallion;
        letter-spacing: 3px;
        text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
    }
    table {
        border: medium solid #061f4e;
        border-collapse: collapse;
        width: 50%;
        position: relative;
    top: 300px; left:500px;
    
       
    }
      
        th {
        font-family: monospace;
        border: thin solid #021842;
        width: 50%;
        padding: 5px;
        background-color: rgb(181, 208, 243);
        background-image: url(sky.jpg);
       
        }
        td {
        font-family: sans-serif;
        border: thin solid #b1c6ee;
        width: 50%;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        }
        #cap1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        }
        label{
            font-size: 3.5rem;
            margin: 0;
            padding: 0;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            position: absolute;
            top:160px; left:400px;
            color: #0e45ac
        }
        
        input{
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        margin: 5px 5px 5px 0px;
            height: 40px;
            width: 100px;
            font-size:25px;
            color: rgb(26, 7, 95);
            outline: none;
            cursor: pointer;
            font-weight: bolder;
            background: #bbbfe2;
            border-radius: 30px;
            border: 1px solid #3f4da5;
            transition: 2s;
            width: 40%;
            height:40px;
            position: relative;
             top: -1990px; left:290px;
        }
        
        *{
            margin: 0;
            padding: 0;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        header{
        
            height: 150vh;
            background-size: cover;
            background-position: center;
        }
        ul{
            float: right;
            list-style-type: none;
            margin-top: 33px;
        }
        ul li{
            display: inline-block;
        }
        ul li a{
             text-decoration:none ;
             color:blueviolet;
             padding: 0px 10px;
             border: 2px salid transparent;
             transition: 0,6 ease;
        }
        ul li a:hover{
              background-color: blanchedalmond;
              color: violet;
        }
        ul li.active a{
            background-color: rgb(92, 55, 0);
            color: violet;
        }
        
        }
        .main{
            max-width: 1300px ;
            margin: auto;
        }
        
        .label
        
         {
             font-size: 25;
             font-family: cursive;
             color: blue;
             padding: 10px;
        
         }
         .button1{
             position:absolute;
             top: 15%;
             left: 15%;
             transform: translate(50%,-130%);
             font-size: 150%;
            
         }
         .button2{
             border: 1px solid blue;
             padding: 0px 10px;
             text-decoration: none; }
          .button2:hover{ background-color:blanchedalmond;}
          
  